<div class="title-block">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="title">
        Страница записей <span class="sparkline bar"></span>
      </h3>
      <div
        style="margin-top: 10px"
        class="alert alert-{{ message.type }}"
        *ngIf="message.text"
      >{{ message.text }}</div>
    </div>
    <div class="col-md-6 col-sm-12">
      <button class="btn btn-danger float-right" (click)="openDeleteCategoryModal()">
        <i class="fa fa-trash-o custom-icon" aria-hidden="true"></i>
        Удалить категорию
      </button>
    </div>
  </div>
</div>

<section class="section" *ngIf="!isLoaded">
  <div class="text-center">Loading...</div>
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <sollento-add-event [categories]="categories"></sollento-add-event>
    </div>
    <div class="col-md-6">
      <sollento-add-category (onCategoryAdd)="onCategoryAdd($event)"></sollento-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <sollento-edit-category [categories]="categories"></sollento-edit-category>
    </div>
  </div>
  <div *ngIf="deleteCategoryModalIsOpen">
    <sollento-delete-category
      (onModalClose)="onDeleteCategoryModalClose()"
      (onModalApply)="onDeleteCategoryModalApply($event)"
      [categories]="categories"
    ></sollento-delete-category>
  </div>
</section>

