<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Список событий</h3>
          </div>
          <div class="form-inline pull-right m-r-2">
            <div class="form-group">
              <input type="email" class="form-control" [(ngModel)]="inputValue" [placeholder]="currentFieldPlaceholder">
            </div>
            <div class="btn-group" sollentoHeaderDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle " sollentoHeaderDropdown>
                Параметр
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="onChangeFilterField('amount')">Сумма</a>
                <a class="dropdown-item" (click)="onChangeFilterField('date')">Дата</a>
                <a class="dropdown-item" (click)="onChangeFilterField('categoryName')">Категория</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="onChangeFilterField('type')">Тип</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block horizontal-scroll-except-first-column">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Сумма</th>
              <th>Дата</th>
              <th>Категория</th>
              <th>Тип</th>
              <th class="text-lg-center">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of events | sollentoFilter:inputValue:currentSearchField; let idx = index">
              <th scope="row">{{ idx + 1 }}</th>
              <td>{{ e.amount }}</td>
              <td>{{ e.date | date }}</td>
              <td>{{ e.categoryName }}</td>
              <td>
                <span [ngClass]="getClasses(e.type)">{{ types[e.type] }}</span>
              </td>
              <td class="text-lg-center">
                <a [routerLink]="e.id" class="btn btn-primary-outline">Открыть</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
